html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, summary, footer, main, aside, section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    text-align: center;
}
h1{
   margin: 5% 0% 
}
body p{
    margin: 5% 10%;
    font-weight: 500;
}

header{
    height:10%;
    width: 100%;
    text-align: center;
}
main{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
div{
    height: 20%;
    border: 1px solid black;
}
@media screen and (max-width:499px){
    
    main{
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-left: 33%;
    }
    .container > session{
        display: flex;
        flex-direction:column-reverse;
        align-items: center;
        border: 1px solid black;
        margin:2%;
        width:30%;
        height:100px
    }
    #primeiro{
        width:20%;
        background-color: brown;
        align-items: center;
    }
    #segundo{
        width:45%;
        background-color: olive;
    }
    #terceiro{
        width: 60%;
        background-color: black;
    }
    #quarto{
        width: 75%;
        background-color: blue;
    }
    session{
        
        font-size: 0px;
    }
    p{
        font-size: 80%;
    }
    button{
        background-color: violet;
        color: yellow;
    }
    
}
@media screen and (min-width: 500px) {
    .container > session{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        border: 1px solid black;
        margin:10px;
        width:30%;
        height:300px
    }
    #primeiro{
        width:20%;
        background-color: red;
        align-items: center;
    }
    #segundo{
        width:45%;
        background-color: yellow;
    }
    #terceiro{
        width: 60%;
        background-color: blue;
    }
    #quarto{
        width: 75%;
        background-color: orange;
    }
    session{
        font-size: 0px;
    }
    p{
    }   
    button{
        margin-top: 25px;
        width: 200px;
        border-radius: 50%;
        background-color: black;
        color: bisque;
    }
}